<div class="container">
  <div class="row no-gutters" id="productpage">
    <div class="col-md-6 col-sm-12">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/11/19/13/57/drum-set-1839383_1280.jpg"
             alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Foto 1</h5>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/08/07/03/53/drums-2599508_1280.jpg"
             alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Foto 2</h5>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/01/19/01/58/drum-1991365_1280.jpg"
             alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Foto 3</h5>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/02/20/20/35/drumset-4865818_1280.jpg"
             alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Foto 4</h5>
        </div>
      </div>
    </div>
  </div>
</div>


